@model DealerKendaraanMVC.Models.Produk
@{
    ViewData["Title"] = "Admin Control Panel";
    ViewData["Name"] = "Soemthing";
}

<div class="text-center">
    <h1 class="py-3">
        <span style="border-radius: 20px; background-color: darkcyan; padding:10px 30px;">
            Kendaraan
        </span>
    </h1>

    <h2 class="text-light">Masukan Data Kendaraan</h2>
</div>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div style="display:grid; min-height: 50vh; place-content:center;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <span asp-validation-for="Nama" class="text-danger"></span>
        <span asp-validation-for="Warna" class="text-danger"></span>
        <span asp-validation-for="StokBarang" class="text-danger"></span>
        <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px 0px; width:100vw; max-width: 586px;">
                <input asp-for="Nama" class="form-control" type="hidden" value="CLNT_MTR" />
                <input asp-for="Warna" class="form-control" type="hidden" value="-" />
                <input asp-for="StokBarang" class="form-control" type="hidden" value="1" />


            <div><label asp-for="Merk" class="control-label"></label></div>
            <div class="form-group">
                <select asp-for="MerkId" class="form-control" asp-items="ViewBag.MerkId" required>
                    <option value="">Pilih - @Html.DisplayNameFor(model => model.Merk.Nama)</option>
                </select>
            </div>


            <div>
                <label asp-for="HargaSatuan" class="control-label"></label>
            </div>
            <div class="form-group">
                <input asp-for="HargaSatuan" class="form-control" />
                <span asp-validation-for="HargaSatuan" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Gambar" class="control-label"></label>
            </div>
            <div class="form-group">
                <input name="image" class="form-control" type="file" accept="image/jpeg" value="JPEG only!"/>
                <span asp-validation-for="Gambar" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Pemasok" class="control-label"></label>
            </div>
            <div class="form-group">
                <select asp-for="PemasokId" class="form-control" asp-items="ViewBag.PemasokId" required>
                    <option value="">Pilih - @Html.DisplayNameFor(model => model.Pemasok.NamaPerusahaaan)</option>
                </select>
            </div>
        </div>

        <div class="py-3" style="display: flex; gap:50px; justify-content: flex-end;">
            <button type="submit" class="btn btn-success btn-outline-light px-4" style="border-radius: 20px;">Jual</button>
        </div>
    </div>
</form>
